---
name: Run Security Checks
on:
  pull_request:
    branches: [main]
    paths:
      - cmd/server/**
      - pkg/**
      - internal/**
      - go.mod
      - go.sum
      - main.go
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC

permissions:
  contents: read
  actions: read
  pull-requests: read
  security-events: write

env:
  OUTPUT_FILE: results.sarif

jobs:
  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: "-no-fail -fmt sarif -out results.sarif -tests ./..."
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: nicholas-fedor/govulncheck-action@22f7e2d57ee889499985734a083c3a6935b66b69
        with:
          go-package: cmd/... internal/...
          go-version-input: ""
          go-version-file: "go.mod"
          output-format: sarif
          output-file: ${{ env.OUTPUT_FILE }}

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          sarif_file: ${{ env.OUTPUT_FILE }}
