name: Run tests and upload coverage

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@033fa0dc0b82693d8986f1016a0ec2c5e7d9cbb1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: "go.mod"

      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@v0.3.924

      - name: Install dependencies
        run: go mod download

      - name: Generate templates
        run: go generate ./...

      - name: Run tests
        run: |
          go test -v -coverprofile coverage.out -covermode atomic ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@96b38e9e60ee60a8c3911f4612407bba2f9195fb
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
